*{
    text-align: center;
    background-color: black;
    color: white;
}
h1{
    font-family: Libre Baskerville,serif;
    text-transform: capitalize;
}
img{
    border: 5px solid white;
    width: 100%;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}